@import "normalize";
@import "fonts";
@import "variables/fonts";

body {
  font-family: $font-body;
  font-size: 14px;
  line-height: 25px;
  color: #7c82a2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  color: #1b2025;
}

h2 {
  font-size: 26px;
  line-height: 35px;
}
