@import "@styles/variables/all";

.card {
  align-self: center;
  height: 522px;
  width: 90%;
  background: $color-paper;
  border-radius: 10px;
  box-shadow: 0 70px 140px 0 rgba(130, 136, 171, 0.2);
}

.cardimage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 53%;
}

.cardcontent {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 40px;
  font-size: 14px;
  color: #7c82a2;

  //height: 47%;
  //background: $color-paper;
}
